[Unit]
Description=Soon API
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/soon
ExecStart=/opt/soon/venv/bin/python manage.py runserver 0.0.0.0:8006
Restart=always
RestartSec=5
EnvironmentFile=/opt/soon/.env

[Install]
WantedBy=multi-user.target
